{% extends 'shared/_base.html' %} 
{% block title %} {{page_title}} {% endblock %}
{% load static %} 
{% block content%}
 <section class="contactus mx-auto py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card card-body border-0 shadow">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card py-5 card-body border-0 leftside">
                                    <h3 class="mb-4">contact us</h3>
                                    <div class="media mb-5 align-items-center">
                                        <div class= 'iconBox mr-3'>
                                            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body">
                                          <p class="mt-0 text-white">Germany , Berlin</p>
                                        </div>
                                    </div>
                                    <div class="media mb-5 align-items-center">
                                        <div class= 'iconBox mr-3'>
                                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body">
                                          <p class="mt-0 text-white">+49 176 4529 9700</p>
                                        </div>
                                    </div>
                                    <div class="media mb-5 align-items-center">
                                        <div class= 'iconBox mr-3'>
                                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body">
                                          <p class="mt-0 text-white">+49 6061 630 7140</p>
                                        </div>
                                    </div>
                                    <div class="media mb-5 align-items-center">
                                        <div class= 'iconBox mr-3'>
                                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>                                        </div>
                                        <div class="media-body">
                                          <p class="mt-0 text-white">nsnn40599@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="socialBox ">
                                        <ul class='list-unstyled '>
                                            <li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 mt-5">
                                <form method = "POST" class="my-auto">
                                    {% csrf_token %}
                                    <div class="form-group ">
                                        <label for="name"> {{contact_form.Subject.label}} :</label>
                                        {{contact_form.Subject}}
                                         {{contact_form.Subject.errors}}
                                    </div>
                                    <div class="form-group mt-5">
                                        <label for="description"> {{contact_form.Message.label}} :</label>
                                         {{contact_form.Message}}
                                         {{contact_form.Message.errors}}
                                    </div>
                                        <div class="form-group clearfix">
                                        <input type = "submit" value = "Send"  class='btn myBtn my-3 text-uppercase float-right' id = "">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %} 