<div class="card text-center  mb-4">
    <div class="card-header bg-primary text-warning">
       {% if job.publish_By.is_superuser %}
           <h4 class="card-title">Desitech</h4> 
       {% else %}
           <h4 class="card-title text-light">{{job.publish_By.company_profile.Name}}</h4> 
      {% endif %} 
    </div>
    <div class="card-body">
        <p class="card-text text-primary"><strong>{{job.title}}</strong></p>
        <p class="card-text text-dark"><strong>{{job.country}} - {{job.city}}</strong></p>
        <div class="card-footer">
             <a href={% url 'jobs:job-detail' job.id %} class='btn btn-outline-warning ' id='filter-btn-jobs'>More details</a>
        </div>
       <small class="card-text text-muted">{{job.get_days_ago}} days ago</small>
    </div>
</div>
<hr>



