{% extends 'shared/_base.html' %}
{% load static %}
{% block title %} Filter jobs {% endblock %}
{% block content%}
<div class="container">
    <a href="{% url 'jobs:all-jobs-list' %}" class='fa fa-arrow-circle-left fa-2x animate__animated animate__fadeInLeft mt-4'><strong> all jobs </strong></a>
    <div  class="jumbotron mt-4">
        <h1 class="display-4">Hello, Dear!</h1>
        <p class="lead"><strong>Filter Return {{jobsCount}} jobs </strong></p>
    </div>
  <section class= 'mytable mx-auto my-5 p-4 border'>
    <div class="container animate__animated animate__fadeInUp">
     <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive my-3">
                            <table class="table table-hover my-3 " id='dataTable'>
                                <thead>
                                    <tr>
                                        <th scope="col">job title</th>
                                        <th scope="col">location</th>
                                        <th scope="col">company name</th>
                                        <th scope="col">date</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in jobs %}
                                      <tr >
                                          <td scope="row">{{job.title}}</td>
                                          <td>{{job.city}} - {{job.country}}</td>
                                          <td>{{job.publish_By.company_profile.Name}}</td>
                                          <td>{{job.date}}</td>
                                          <td><a href={% url 'jobs:job-detail' job.id %}><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                      </tr>
                                       {% empty %}
                                        <h2 class='text-center text-warning'>{{empty}}</h2>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>  
         </div>
</section>
    </div>
{% endblock %}