{% extends 'shared/_base.html' %}
{% load static %}
{% block title %} all jobs {% endblock %}
{% block content%}

  <div class="container mt-5">
  <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-6'>
            <div class="row justify-content-start animate__animated animate__fadeInUp">
                <form method='post' action = {% url 'jobs:job-filter-by-city'%}>
                    <h3 class="text-muted">Filter by city</h3>
                      <div class="input-group mb-5">
                          {% csrf_token %}
                          <select class="custom-select " id='filter-select-jobs' name='city'>
                            {% for city in Cities %}
                              <option>{{city}}</option>
                            {% endfor %}
                          </select>
                          <input type = 'submit' value ='Filter Jobs' class='btn btn-outline-warning   ml-5' id='filter-btn-jobs'>
                      </div>
                </form>
              </div>
        </div>

       <div class='col-lg-6 col-md-6 col-sm-12 col-xs-6'>
          <div class="row justify-content-start animate__animated animate__fadeInUp">
            <form method='post' action = {% url 'jobs:job-filter-by-Company'%}>
                <h3 class="text-muted">Filter by Company</h3>
                  <div class="input-group mb-5">
                      {% csrf_token %}
                      <select class="custom-select " id='filter-select-jobs' name='company'>
                        {% for company in Companies %}
                          <option>{{company.Name}}</option>
                        {% endfor %}
                      </select>
                      <input type = 'submit' value ='Filter Jobs' class='btn btn-outline-warning   ml-5' id='filter-btn-jobs'>
                    
                  </div>
            </form>
          </div>
      </div>
  </div>
      <div  class="jumbotron mt-3 animate__animated animate__fadeInLeftBig">
        <h1 class="display-4"> List of all jobs , ( got {{jobsCount}} jobs )</h1>
        <p class="lead"><strong>you can read more and apply by press More details</strong></p>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-sm-10 animate__animated animate__fadeInLeft">

          {% for job in jobs  %}
            {% include "cards/JobsListCard.html" %}
          {% endfor %}

        </div>
      </div>
  </div>


{% endblock %}


{% comment %} {% if page_obj.has_other_pages %}
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
         <a href="?page={{ page_obj.previous_page_number }}" class="page-link fa fa-angle-double-left"></a>

      </li>
      {% endif %} 
     
      {% if page_obj.has_next %}
      <li class="page-item">
         <a href="?page={{ page_obj.next_page_number }}" class="page-link fa fa-angle-double-right"></a>

      </li>
      {% endif %} 
  </ul>
 <p class="text-muted pagination justify-content-center">
       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</p>
 {% endif %}  {% endcomment %}