{% extends 'shared/_base.html' %}
{% load static %}
{% block title %} all jobs {% endblock %}
{% block content%}
 
  <section class= 'mytable mx-auto my-5 p-4 border'>
    <div class="container animate__animated animate__fadeInUp">
      <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <form method='post' action = {% url 'jobs:job-filter-by-city'%}>
                         {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <div class="input-group my-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="filterbycity">filter by city</label>
                                        </div>
                                        <select class="form-control select" id="select"  name='city'>
                                              {% for city in Cities %}
                                                <option>{{city}}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                </div>
                                <div class="form-group col-md-3 my-3">
                                    <input type="submit" class="btn btn-primary " id="filterBtn" value="Get">
                                  </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12">
                         <form method='post' action = {% url 'jobs:job-filter-by-Company'%}>
                         {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <div class="input-group my-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="filterbycompany">filter by company</label>
                                        </div>
                                        <select class="form-control " id="select" name='company'>
                                           {% for company in Companies %}
                                                <option>{{company.Name}}</option>
                                            {% endfor %}
                                          </select>
                                      </div>
                                </div>
                                <div class="form-group col-md-3 my-3">
                                    <input type="submit" class="btn btn-primary " id="filterBtn" value="Get">
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-responsive my-3">
                            <table class="table table-hover my-3 " id='dataTable'>
                                <thead>
                                    <tr>
                                        <th scope="col">job title</th>
                                        <th scope="col">location</th>
                                        <th scope="col">company name</th>
                                        <th scope="col">date</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for job in jobs %}
                                      <tr >
                                          <td scope="row">{{job.title}}</td>
                                          <td>{{job.city}} - {{job.country}}</td>
                                          <td>{{job.publish_By.company_profile.Name}}</td>
                                          <td>{{job.date}}</td>
                                          <td><a href={% url 'jobs:job-detail' job.id %}><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                      </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
</section>
{% endblock %}








































{% comment %} {% if page_obj.has_other_pages %}
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
         <a href="?page={{ page_obj.previous_page_number }}" class="page-link fa fa-angle-double-left"></a>

      </li>
      {% endif %} 
     
      {% if page_obj.has_next %}
      <li class="page-item">
         <a href="?page={{ page_obj.next_page_number }}" class="page-link fa fa-angle-double-right"></a>

      </li>
      {% endif %} 
  </ul>
 <p class="text-muted pagination justify-content-center">
       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</p>
 {% endif %}  {% endcomment %}