{% extends 'shared/_base.html' %}
{% block title %} Pasword reset Complete {% endblock %}
{% load static %}
{% block content %}
 <section class= 'theBody my-5 mx-auto'>
            <div class="container">
                <div class="row rounded shadow-lg py-5 align-items-center justify-content-center">
                    <div class="col-sm-12 px-5 ">
                        <div class= 'text-center infobox m-2 p-2'>
                          <!--جزء  العنوان-->
                          <p class= 'text-capitalize font-weight-bold font-italic'><strong>Password reset complete</strong></p>
                          <!--جزء  العنوان-->
                          <!--جزء  الكتابة-->
                          <p class= 'lead font-weight-bold'>Your password has been set. You may go ahead and log in now.</p>
                          <!--جزء  الكتابة-->  
                      </div>
                      <a href="{% url 'accounts:login' %}" class='btn py-2 my-5 text-capitalize' id="myBtn">go Login</a>
                    </div>
                </div>
            </div>
       </section>
{% endblock %}
	







  <a href= class='btn myBtn py-2 my-2'>go to Login</a>