/*footer*/

.edit-jobs:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    text-decoration: none;
    text-shadow: 1px 2px 1px rgb(220, 235, 85)
}


/* 3b5998 */

.fa-plus-circle:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    text-shadow: 3px 4px 3px rgb(220, 235, 85)
}

#add-job-icon {
    color: #294781;
}


/*********************************************************************/


/* بداية الكارت*/

.theBody {
    width: 70%;
}


/*بداية الجزء العلوي لجميع الصفحات*/

.title {
    width: 100%;
    height: 300px;
    background: #4267b2;
    position: relative;
}

.title h2,
.title .companytitle {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-30%, -48%);
    z-index: 2;
}

.accountBox {
    width: 100%;
    height: 350px;
    background: url(/static/img/Rectangle@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.accountBox h1 {
    font-weight: 600;
}

.accountdata h2 {
    font-size: 2rem;
    font-weight: bold;
}

.accountdata p {
    font-size: 1rem;
}

.title .companytitle {
    top: 30%;
    left: 37%;
    transform: translate(-30%, -37%);
}

.title::after {
    content: '';
    clip-path: ellipse(50% 34% at 50% 98%);
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.text {
    color: #4267b2 !important;
}


/*نهاية الجزء العلوي لجميع الصفحات*/


/*بداية النموذج*/

input[type=email],
input[type=password],
input[type=text] {
    padding-left: 2%;
}

.form-control,
input[type=email],
input[type=password],
input[type=text] {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.8;
    text-transform: capitalize;
    border-radius: 10px;
}

.form-control::placeholder,
input[type=email],
input[type=password],
input[type=text] {
    color: rgb(134, 132, 132);
}

input[type=password] {
    border-right: 0;
}

.input-group-text {
    background: transparent;
    border: 1px solid #4267b2;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    outline: none;
    color: rgb(134, 132, 132);
}

.col-form-label {
    text-transform: capitalize;
    font-size: 1, 2rem;
    font-weight: 600;
}

#select {
    background-image: url(/static/img/Component.png) !important;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.iti {
    width: 100%;
    display: block
}


/*نهاية النموذج*/


/*بداية الزر*/

#myBtn {
    width: 100%;
    background: #4267b2;
    color: #fff !important;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    line-height: 2;
}

#myBtn:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}


/*نهاية جزء التواصل الاجتماعي*/


/*بداية رابط الصفحات الأخرى*/

.links {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
}


/*نهاية رابط الصفحات الأخرى*/

.header {
    background: #4267b2;
    border-bottom: 2px solid#ccc;
}

#delete-icon {
    color: #4267b2;
}


/* create job form*/

.createjobs {
    width: 75%;
}

.box,
.box1 {
    width: 100%;
    background: linear-gradient(66deg, #4267b2, #000);
}

.box1 {
    clip-path: polygon(100% 1%, 100% 100%, 74% 100%, 54% 71%, 0% 71%, 0% 0%);
}

.box1 h2 {
    padding: 3% 2% 6% 0%;
    font-weight: 700;
    font-size: 1.9rem;
    font-style: italic;
}

label,
.col-form-label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
}

.form-check-label {
    font-size: 1rem;
}

textarea.form-control {
    width: 100%;
    height: 400px;
    max-height: 400px;
}


/*nav bar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
}

.header {
    background: #4267b28e;
    border-bottom: 2px solid#ccc;
}


/*  جزء الناف*/

.header .navbar {
    padding: 0;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    padding: 0;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bolder;
}

.navbar-brand h1 span {
    color: rgb(220, 235, 85);
}

.header .navbar .navbar-toggler .icon-bar {
    color: #fff !important;
}

.header .navbar #navbarcollapse .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 10px 15px;
    line-height: 1.2;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown .dropdown-menu {
    border: 2px solid #4267b2;
    border-radius: 15px;
    overflow: hidden;
    translate: all 0.2s ease-in;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown .dropdown-menu .dropdown-item {
    color: #4267b2;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background: #4267b2;
    color: #fff;
}


/*footer*/

.footer-top {
    background: linear-gradient(66deg, #4267b263, rgba(0, 0, 0, 0.473), #4267b263);
    padding: 30px 0 5px;
    color: #fff;
}

.footer-top h3 {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.one p {
    font-size: 0.7rem;
    text-align: left;
    text-align: justify;
    font-weight: bold;
}

.two ul li {
    padding: 5px 0;
    line-height: 2;
}

.two ul li a {
    color: #fff !important;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}

.footer-text {
    text-align: center;
    color: #fff;
    line-height: 1;
}


/*اhome page*/


/*جزء المعلومات وزر البحث */

.mycontentdate {
    width: 100%;
    padding: 150px 0;
    background: linear-gradient(-20deg, #4267b2 30%, rgb(66, 197, 236) 40%, #4267b2 30%);
}

.mycontentdate .dashs {
    bottom: -35%;
}

.mycontentdate .dashs li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mycontentdate .img-box {
    width: 100%;
}

.mycontentdate .content h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
}

.mycontentdate .content p {
    color: #fff;
    font-size: 1.4rem;
    font-style: italic;
    padding-left: 2%;
    line-height: 1.6;
}

#btnSearch {
    width: 40%;
    background: #fff;
    color: #4267b2;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    line-height: 2;
    translate: all 0.5 ease;
}

#btnSearch:hover {
    background: #4267b2;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 6px 18px 17px -8px #ddd;
}


/* نهاية جزء المعلومات وزر البحث*/


/*جزء لماذا*/

.content-box {
    padding: 60px 0;
    height: 100%;
    width: 100%;
}

.content-box h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 50px;
    text-transform: capitalize;
}

.content-box h1::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 20%;
    margin: 20px auto;
}

.card {
    border: 2px solid #4267b2;
}

.icon-area {
    color: #4267b2;
    margin: 40px auto;
}

.single:hover .side-two {
    transform: rotateY(0deg);
    border-radius: 5px;
}

.single:hover .side-one {
    transform: rotateY(180deg);
    border-radius: 5px;
}

.content-area {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side-one {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 20px;
}

.side-two {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotateY(-180deg);
}

.side-one,
.side-two {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.side-one .card,
.side-two .card {
    min-height: 350px;
}

.card h4 {
    color: #000;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.card p {
    color: #4267b2;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    padding: 10px 0;
}


/*نهاية جزء لماذا*/


/*جزء المميزات*/

.feature {
    width: 100%;
    background: linear-gradient(20deg, #4267b2 30%, rgb(66, 197, 236) 40%, #4267b2 30%);
}

.feature h2 {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

.feature ul li {
    color: #fff;
    line-height: 1.8;
    font-size: 1rem;
    position: relative;
}

.feature ul li::after {
    content: '';
    height: 5px;
    width: 5px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -5%;
}


/* نهاية جزء المميزات*/


/*جزء الاحصاءات*/

.statistics {
    background-image: linear-gradient( #4267b263, rgba(0, 0, 0, 0.473), #4267b263), url(../images/Rectangle@3x.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}

.content {
    padding: 20px 0;
}

.content .counter {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px auto;
    text-align: center;
}


/*نهاية جزء الاحصاءات*/


/* جزء العملاء*/

.testimonial {
    margin: 50px auto;
}

.testimonial h3 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.testimonial h3::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 20%;
    margin: 20px auto 5px;
}

.testimonial p {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial .profile {
    padding: 70px 1% 10px;
    transition: 0.7s;
    background: #4267b24f;
    cursor: pointer;
}

.testimonial .profile:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 5px #ccc;
}

.profile img {
    width: 120px;
    height: 120px;
    margin-top: -40%;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile blockquote {
    font-size: 1rem;
    line-height: 1.8;
}

.profile blockquote .fa {
    color: #4267b2;
}

.profile h4 {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: bold;
    color: #fff;
}


/*نهاية جزء العملاء */


/*=================جزء من نحن===================*/

.aboutus {
    background: linear-gradient(20deg, #4267b2 30%, rgb(18, 19, 19) 40%, #4267b2 30%);
}

.aboutus h2 {
    color: #fff;
    font-style: italic;
    font-size: 2.1rem;
    font-weight: bold;
}

.aboutus p {
    color: #fff;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: normal;
}

.aboutus .pic {
    width: 100%;
    shape-outside: ellipse();
}

.aboutus .pic img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #fff;
    object-fit: contain;
}


/*=================نهاية جزء من نحن===================*/


/*=================جزء الفريق===================*/

.ourteam {
    width: 100%;
}

.ourteam h3 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.ourteam h3::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 10%;
    margin: 20px auto;
}

.ourteam p {
    color: #4267b2;
    font-size: large;
    padding: 10px 0;
    font-weight: 400;
}

#our-team-shadow-img {
    position: relative;
    transition: 0.4s;
    box-shadow: 10px 20px 20px rgb(20, 19, 19);
}

.ourteam .single-content .text-content,
.ourteam .single-content::after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.ourteam .single-content::after {
    content: '';
    display: block;
    background: rgba(255, 255, 255);
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: 0.4s;
}

.ourteam .single-content:hover::after {
    opacity: .8;
    transform: rotate3d(0, 0, 0, 0deg);
}

.ourteam .single-content img {
    width: 100%;
    height: 100%
}

.ourteam .single-content .text-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    text-align: center;
    transition: 0.4s;
    color: #4267b2;
}

.ourteam .single-content .text-content h4 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-style: italic;
}

.ourteam .single-content .text-content h4 span {
    color: #000;
    text-transform: uppercase;
}

.ourteam .single-content .text-content h5 {
    padding-left: 5%;
    text-align: left;
    padding-bottom: 2%;
    text-transform: capitalize;
}

.ourteam .single-content .text-content h5 span {
    color: #000;
    text-transform: uppercase;
}

.ourteam .single-content .text-content p {
    color: #4267b2;
    font-style: italic;
    padding: 0 5%;
    line-height: 1.2;
}

.ourteam .single-content:hover .text-content {
    opacity: 1;
    transform: translate(0%, -50%);
    transition-delay: 0.4s;
}


/*===============نهاية جزء الفريق==========*/


/*=============== جزء تواصل معنا==========*/

.contactus {
    width: 75%;
}

.contactus .leftside {
    background: linear-gradient(90deg, rgba(57, 117, 224, 1) 19%, rgba(87, 124, 223, 1) 49%, rgba(95, 113, 223, 1) 74%);
    margin-left: -20%;
}

.contactus .card p {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    padding-left: 1%;
    line-height: 1;
}

.contactus .leftside h3 {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contactus .leftside .iconBox {
    height: 60px;
    width: 60px;
    border: 2px solid #fff;
    transform: rotate(-45deg);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus .leftside .iconBox i {
    color: #fff;
    transform: rotate(45deg);
}

.contactus .leftside .socialBox {
    margin: 10px auto;
}

.contactus .leftside .socialBox ul {
    width: 100%;
}

.contactus .leftside .socialBox ul li {
    display: inline-block;
    padding: 0 10px;
}

.contactus .leftside .socialBox ul li a {
    color: #fff !important;
}

.contactus label,
.contactus .col-form-label {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}

.contactus .form-check-label {
    font-size: 1rem;
}

.contactus textarea.form-control {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.contactus input[type=email],
.contactus input[type=text] {
    padding-left: 2%;
}

.contactus .form-control,
.contactus input[type=email],
.contactus input[type=text] {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.8;
    border-radius: 10px;
}

.contactus .form-control::placeholder,
.contactus input[type=email]::placeholder,
.contactus input[type=text]::placeholder {
    color: rgb(134, 132, 132);
}

.contactus .myBtn {
    width: 30%;
    background: #4267b2;
    color: #fff !important;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.5s;
    line-height: 2;
}

.contactus .myBtn:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}


/*===============نهاية جزء تواصل معنا==========*/

.mytable .top_page,
.mytable .page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    border-radius: 20px 10px / 10px 20px;
    text-transform: capitalize;
}

.mytable .top_page h2 {
    font-size: 2rem;
    font-weight: 500;
}

.mytable .page h2 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

.mytable table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytable table tbody tr td {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid #4267b2;
    border-left: none;
    border-right: none;
}

.mytable .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytable .table-hover tbody tr td a {
    color: green;
    text-decoration: none;
}

.mytable .table-hover tbody tr:hover td a {
    color: #fff;
    background: #4267b2;
}

.mytable label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
}

.mytable .form-control {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: capitalize;
    border-radius: 10px;
}

.mytable .select {
    background-image: url(../images/Component\ 156\ –\ 8@3x.png) !important;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dataTables_paginate {
    margin: 5% 0;
}


/* نهاية جدول قائمة الوظائف*/


/* جدول وظائفي*/

.mytablelist .top_page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 1%, 100% 0%, 100% 68%, 76% 100%, 28% 100%, 0% 71%);
}

.mytablelist .top_page h2 {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 500;
}

.mytablelist .btn-add {
    position: sticky;
    top: 80%;
    left: 3%;
    transform: translate(-50%, -3%);
    width: 50px;
    color: #4267b2;
    height: 50px;
    border: 2px solid #4267b2;
    transform: rotate(-45deg);
    border-radius: 15px / 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
}

.mytablelist .btn-add:hover {
    background: #4267b2;
    border: 2px solid #000;
}

.mytablelist .btn-add a {
    text-decoration: none;
    color: #4267b2
}

.mytablelist .btn-add:hover a {
    color: #fff;
}

.mytablelist .btn-add a i {
    transform: rotate(45deg);
}

.mytablelist table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytablelist table tbody tr td {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4267b2;
}

.mytablelist table tbody tr:not(:first-child) {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mytablelist .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytablelist table tbody tr td a {
    padding: 0 3%;
}

.mytablelist .table-hover tbody tr:hover td a,
.mytablelist .table-hover tbody tr:hover td a .fa-eye,
.mytablelist .table-hover tbody tr:hover td a .fa-pencil,
.mytablelist .table-hover tbody tr:hover td a .fa-trash-o {
    color: #fff;
    background: #4267b2;
}

.mytablelist .table-hover tbody tr td .fa-eye {
    color: green;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-pencil {
    color: #4267b2;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-trash-o {
    color: #f00;
    text-decoration: none;
}


/*job seeker profile*/

.profileseeker .boxseeker {
    box-shadow: 5px 5px 5px 5px #ccc;
    border-radius: 20px;
    padding: 1%;
    border: 1px solid #ccc;
}

.profileseeker .boxseeker .card-img-overlay a {
    font-weight: 700;
    font-style: italic;
    border-radius: 0px 15px 15px 0px;
    text-decoration: none;
    color: #fff;
    padding: 3%;
    display: none;
    background: rgba(0, 0, 0, 0.397);
    margin-left: -7%;
    transition: all 5s ease-in-out;
}

.profileseeker .boxseeker .card-img-overlay:hover a {
    display: inline;
}

.profileseeker .card {
    border: none;
    background: transparent;
}

.profileseeker .titleseeker {
    border-radius: 20px;
    padding: 2% 0;
    padding-left: 1%;
    background: linear-gradient(90deg, rgba(57, 117, 224, 1) 19%, rgba(87, 124, 223, 1) 49%, rgba(95, 113, 223, 1) 74%);
    color: #fff;
    width: 100%;
    clip-path: polygon(100% 72%, 90% 67%, 87% 81%, 74% 75%, 76% 90%, 62% 81%, 66% 94%, 54% 89%, 58% 100%, 0% 100%, 0% 0%, 100% 0%);
}

.profileseeker .titleseeker h3,
.profileseeker h6 {
    font-weight: bold;
    margin: 1% auto;
    margin-left: 2%;
    font-weight: 600;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.profileseeker h6 {
    color: rgba(57, 117, 224, 1);
    position: relative;
}

.profileseeker h6::after {
    content: '';
    width: 15%;
    height: 3px;
    background: rgba(57, 117, 224, 1);
    position: absolute;
    left: 0;
    bottom: -7px;
}

.profileseeker ul li p {
    font-weight: bolder;
    color: rgba(57, 117, 224, 1);
}

.profileseeker p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
}

.profileseeker ul li p {
    font-weight: bolder;
    color: rgba(57, 117, 224, 1);
}

.profileseeker ul li p span {
    padding-left: 3%;
    font-weight: normal;
    color: #000;
}

@media only screen and (max-width: 750px) {
    .profileseeker .titleseeker h3 {
        font-size: 3vw;
    }
    .profileseeker h6 {
        font-size: 2.5vw;
    }
    .profileseeker p {
        font-size: .9rem;
    }
}


/*company profile */

.proflie {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.proflie .card {
    width: 100%;
}

.proflie #particles-js {
    width: 100%;
    height: 30%;
}

.proflie .left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(57, 117, 224, 1) 19%, rgba(87, 124, 223, 1) 49%, rgba(95, 113, 223, 1) 74%);
}

.proflie .left img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 750px) {
    .proflie .left img {
        width: 33%;
    }
}

.proflie .left a {
    text-decoration: none;
    color: #fff;
    padding: 5%;
}

.proflie .title {
    background: linear-gradient(90deg, rgba(57, 117, 224, 1) 19%, rgba(87, 124, 223, 1) 49%, rgba(95, 113, 223, 1) 74%);
    color: #fff;
    width: 100%;
    display: flex;
    clip-path: polygon(0% 0%, 0% 100%, 39% 100%, 57% 56%, 100% 56%, 100% 0%);
}

.proflie .title h3 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.proflie ul {
    margin: 2% 0;
}

.proflie ul li {
    font-weight: bold;
    line-height: 2;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-style: italic;
}

.proflie ul li span {
    font-size: 1rem;
    font-weight: normal;
}

.proflie ul li .city,
.proflie .right ul li .country {
    font-weight: bold;
    font-size: 1.2rem;
}

.proflie p {
    line-height: 1.4;
    font-size: 1.1rem;
    margin: 2% 0 4%;
    font-weight: 600;
}

.proflie .myBtn {
    font-size: 1rem;
    width: 40%;
    background: #4267b2;
    color: #fff !important;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
    line-height: 2;
}

.proflie .myBtn:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}


/*نهاية جزء الزر بتاع الفورم*/


/*jobs details*/

.details .companydetail {
    position: relative;
    width: 100%;
    background: #007bff;
    color: #fff;
    padding: 30px 0;
}

.details .companydetail::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.445);
    top: 0;
    left: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.details .companydetail .company_text h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
    font-style: italic;
}

.details .companydetail .company_text p {
    font-size: 1.3rem;
    margin: 15px 0;
    font-style: italic;
    padding-left: 3%;
}

.details .companydetail .company_text p i {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    padding-left: 2%;
    padding-right: 2%;
}

.details .jobdetail {
    padding: 30px 0;
}

.details .jobdetail .jobs_conetent h4 {
    color: #007bff;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.details .jobdetail .jobs_conetent .location {
    margin-top: 5px;
    padding-left: 4%;
}

.details .jobdetail .jobs_conetent .location p {
    font-size: 1rem;
    text-transform: capitalize;
}

.details .jobdetail .jobs_conetent .location p i {
    color: #007bff;
    padding-right: 1%;
}

.details .jobdetail .descript .single {
    padding: 1% 0;
}

.details .jobdetail .descript .single h4 {
    color: #007bff;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;
}

.details .jobdetail .descript .single p {
    font-style: italic;
    margin-left: 4%;
    text-indent: 5%;
    text-align: justify;
    font-weight: 500;
    color: rgb(124, 121, 121);
}

.details .jobdetail .descript .single ul li {
    font-style: italic;
    margin-left: 1%;
    text-indent: 2%;
    text-align: justify;
    color: rgb(124, 121, 121);
    position: relative;
    line-height: 2;
}

.details .jobdetail .descript .single ul li::after {
    content: '';
    height: 5px;
    width: 5px;
    background: #007bff;
    position: absolute;
    transform: rotate(-45deg);
    top: 50%;
    left: 0%;
}

.details .jobdetail .button {
    margin: 20px 0;
    position: relative;
    padding: 0.8em 2.2em;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: #007bff;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
}

.details .jobdetail .button:hover {
    color: #fff;
}

.details .jobdetail .button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 5px solid #007bff;
}

.details .jobdetail .button span::before {
    content: '';
    position: absolute;
    width: 8%;
    height: 500%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 1s ease;
}

.details .jobdetail .button:hover span::before {
    transform: translate(-50%, -50%) rotate(90deg);
    width: 100%;
    background: #007bff;
}

.details .job_sumary {
    box-shadow: 2px 2px 2px 2px #ccc;
}

.details .job_sumary h3 {
    color: #007bff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2% 0;
}

.details .job_sumary .job_content ul {
    margin-top: 10%;
}

.details .job_sumary .job_content ul li {
    font-style: italic;
    margin-left: 1%;
    text-align: justify;
    font-weight: bold;
    line-height: 2;
}

.details .job_sumary .job_content ul li span {
    color: rgb(124, 121, 121);
    font-weight: normal;
}


/*all jobs*/

.mytable {
    width: 75%;
}


/* جدول قائمة الوظائف*/

.mytable .top_page,
.mytable .page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    border-radius: 20px 10px / 10px 20px;
    text-transform: capitalize;
}

.mytable .top_page h2 {
    font-size: 2rem;
    font-weight: 500;
}

.mytable .page h2 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

.mytable table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytable table tbody tr td {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    border: 1px solid #4267b2;
    border-left: none;
    border-right: none;
}

.mytable .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytable .table-hover tbody tr td a {
    color: green;
    text-decoration: none;
}

.mytable .table-hover tbody tr:hover td a {
    color: #fff;
    background: #4267b2;
}

.mytable label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
}

.mytable .input-group-text {
    background: #4267b2;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.mytable .form-control {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 10px;
}

.mytable .select {
    background-image: url(../images/Component\ 156\ –\ 8@3x.png) !important;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px 10px 10px 0px;
}

.dataTables_paginate {
    margin: 5% 0;
}

#dataTable_info.dataTables_info {
    font-size: 1.3rem;
    color: #4267b2;
    margin-bottom: 2%;
    font-weight: 600;
    font-style: italic;
}

div.dataTables_wrapper div.dataTables_length label {
    text-transform: none;
    color: #4267b2;
    margin-top: 2%;
    font-weight: 600;
    font-style: italic;
}

label select.custom-select.custom-select-sm.form-control.form-control-sm {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}


/* نهاية جدول قائمة الوظائف*/


/* جدول وظائفي*/

.mytablelist .top_page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 1%, 100% 0%, 100% 68%, 76% 100%, 28% 100%, 0% 71%);
}

.mytablelist .top_page h2 {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 500;
}

.mytablelist .btn-add {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -3%);
    width: 50px;
    color: #4267b2;
    height: 50px;
    border: 2px solid #4267b2;
    transform: rotate(-45deg);
    border-radius: 15px / 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
}

.mytablelist .btn-add:hover {
    background: #4267b2;
    border: 2px solid #000;
}

.mytablelist .btn-add a {
    text-decoration: none;
    color: #4267b2
}

.mytablelist .btn-add:hover a {
    color: #fff;
}

.mytablelist .btn-add a i {
    transform: rotate(45deg);
}

.mytablelist table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytablelist table tbody tr td {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4267b2;
}

.mytablelist table tbody tr:not(:first-child) {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mytablelist .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytablelist table tbody tr td a {
    padding: 0 3%;
}

.mytablelist .table-hover tbody tr:hover td a,
.mytablelist .table-hover tbody tr:hover td a .fa-eye,
.mytablelist .table-hover tbody tr:hover td a .fa-pencil,
.mytablelist .table-hover tbody tr:hover td a .fa-trash-o {
    color: #fff;
    background: #4267b2;
}

.mytablelist .table-hover tbody tr td .fa-eye {
    color: green;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-pencil {
    color: #4267b2;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-trash-o {
    color: #f00;
    text-decoration: none;
}


/*jobs list*/

.mytable .top_page,
.mytable .page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    border-radius: 20px 10px / 10px 20px;
    text-transform: capitalize;
}

.mytable .top_page h2 {
    font-size: 2rem;
    font-weight: 500;
}

.mytable .page h2 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

.mytable table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytable table tbody tr td {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    border: 1px solid #4267b2;
    border-left: none;
    border-right: none;
}

.mytable .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytable .table-hover tbody tr td a {
    color: green;
    text-decoration: none;
}

.mytable .table-hover tbody tr:hover td a {
    color: #fff;
    background: #4267b2;
}

.mytable label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3vw;
}

.mytable .input-group-text {
    background: #4267b2;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    line-height: 1.5;
    text-transform: capitalize;
}

.mytable .form-control {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.3vw;
    line-height: 1.5;
    border-radius: 10px;
}

.mytable .select {
    background-image: url(../images/Component\ 156\ –\ 8@3x.png) !important;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px 10px 10px 0px;
}

.dataTables_paginate {
    margin: 5% 0;
}

#dataTable_info.dataTables_info {
    font-size: 1.3rem;
    color: #4267b2;
    margin-bottom: 2%;
    font-weight: 600;
    font-style: italic;
}

div.dataTables_wrapper div.dataTables_length label {
    text-transform: none;
    color: #4267b2;
    margin-top: 2%;
    font-weight: 600;
    font-style: italic;
}

label select.custom-select.custom-select-sm.form-control.form-control-sm {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#filterBtn {
    font-size: 1vw;
    background: #4267b2;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.5em 1.4em;
}

#filterBtn:hover {
    background: #fff;
    color: #4267b2;
    border: 2px solid #4267b2;
}

@media only screen and (max-width: 750px) {
    .mytable label,
    .mytable .form-control {
        font-size: 3vw;
    }
    .filterBtn {
        font-size: 2vw;
    }
}


/* نهاية جدول قائمة الوظائف*/


/* جدول وظائفي*/

.mytablelist .top_page {
    text-align: center;
    background: #4267b2;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 1%, 100% 0%, 100% 68%, 76% 100%, 28% 100%, 0% 71%);
}

.mytablelist .top_page h2 {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 500;
}

.mytablelist .btn-add {
    position: fixed;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -3%);
    width: 50px;
    color: #4267b2;
    height: 50px;
    border: 2px solid #4267b2;
    transform: rotate(-45deg);
    border-radius: 15px / 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in;
}

.mytablelist .btn-add:hover {
    background: #4267b2;
    border: 2px solid #000;
}

.mytablelist .btn-add a {
    text-decoration: none;
    color: #4267b2
}

.mytablelist .btn-add:hover a {
    color: #fff;
}

.mytablelist .btn-add a i {
    transform: rotate(45deg);
}

.mytablelist table thead {
    background: #4267b2;
    color: #fff;
    text-align: center;
}

.mytablelist table tbody tr td {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #4267b2;
}

.mytablelist table tbody tr:not(:first-child) {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mytablelist .table-hover tbody tr:hover td {
    color: #fff;
    background: #4267b2;
}

.mytablelist table tbody tr td a {
    padding: 0 3%;
}

.mytablelist .table-hover tbody tr:hover td a,
.mytablelist .table-hover tbody tr:hover td a .fa-eye,
.mytablelist .table-hover tbody tr:hover td a .fa-pencil,
.mytablelist .table-hover tbody tr:hover td a .fa-trash-o {
    color: #fff;
    background: #4267b2;
}

.mytablelist .table-hover tbody tr td .fa-eye {
    color: green;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-pencil {
    color: #4267b2;
    text-decoration: none;
}

.mytablelist .table-hover tbody tr td .fa-trash-o {
    color: #f00;
    text-decoration: none;
}