/*footer*/

.edit-jobs:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    text-decoration: none;
    text-shadow: 1px 2px 1px rgb(220, 235, 85)
}


/* 3b5998 */

.fa-plus-circle:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    text-shadow: 3px 4px 3px rgb(220, 235, 85)
}

#add-job-icon {
    color: #294781;
}


/*********************************************************************/


/* بداية الكارت*/

.theBody {
    width: 70%;
}


/*بداية الجزء العلوي لجميع الصفحات*/

.title {
    width: 100%;
    height: 300px;
    background: #4267b2;
    position: relative;
}

.title h2,
.title .companytitle {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-30%, -48%);
    z-index: 2;
}

.accountBox {
    width: 100%;
    height: 350px;
    background: url(/static/img/Rectangle@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.accountBox h1 {
    font-weight: 600;
}

.accountdata h2 {
    font-size: 2rem;
    font-weight: bold;
}

.accountdata p {
    font-size: 1rem;
}

.title .companytitle {
    top: 30%;
    left: 37%;
    transform: translate(-30%, -37%);
}

.title::after {
    content: '';
    clip-path: ellipse(50% 34% at 50% 98%);
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.text {
    color: #4267b2 !important;
}


/*نهاية الجزء العلوي لجميع الصفحات*/


/*بداية النموذج*/

input[type=email],
input[type=password],
input[type=text] {
    padding-left: 2%;
}

.form-control,
input[type=email],
input[type=password],
input[type=text] {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.8;
    text-transform: capitalize;
    border-radius: 10px;
}

.form-control::placeholder,
input[type=email],
input[type=password],
input[type=text] {
    color: rgb(134, 132, 132);
}

input[type=password] {
    border-right: 0;
}

.input-group-text {
    background: transparent;
    border: 1px solid #4267b2;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    outline: none;
    color: rgb(134, 132, 132);
}

.col-form-label {
    text-transform: capitalize;
    font-size: 1, 2rem;
    font-weight: 600;
}

.select {
    background-image: url(/static/img/Component.png) !important;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.iti {
    width: 100%;
    display: block
}


/*نهاية النموذج*/


/*بداية الزر*/

#myBtn {
    width: 100%;
    background: #4267b2;
    color: #fff !important;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    line-height: 2;
}

#myBtn:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}


/*نهاية جزء التواصل الاجتماعي*/


/*بداية رابط الصفحات الأخرى*/

.links {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1rem;
}


/*نهاية رابط الصفحات الأخرى*/

.header {
    background: #4267b2;
    border-bottom: 2px solid#ccc;
}


/*  جزء الناف*/


/* 
.header .navbar {
    padding: 0;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    padding: 0;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bolder;
}

.navbar-brand h1 span {
    color: rgb(220, 235, 85);
}

.header .navbar .navbar-toggler .icon-bar {
    color: #fff !important;
}

.header .navbar #navbarcollapse .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 10px 15px;
    line-height: 1.2;
}

.header .navbar #navbarcollapse .active .nav-link {
    color: rgb(220, 235, 85) !important;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown .dropdown-menu {
    border: 2px solid rgb(220, 235, 85);
    border-radius: 10px;
    overflow: hidden;
    translate: all 0.5s ease-in;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown .dropdown-menu .dropdown-item {
    color: #4267b2;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background: #4267b2;
    color: #fff;
} */

#delete-icon {
    color: #4267b2;
}

#filter-select-jobs {
    background-color: #4267b2;
    color: rgb(220, 235, 85);
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
}

#filter-btn-jobs {
    color: #4267b2;
}

#filter-select-jobs:hover {
    background-color: rgb(220, 235, 85);
    color: #4267b2;
}

.table_head {
    background-color: rgb(220, 235, 85);
    color: #4267b2;
}


/* create job form*/

.createjobs {
    width: 75%;
}

.box,
.box1 {
    width: 100%;
    background: linear-gradient(66deg, #4267b2, #000);
}

.box1 {
    clip-path: polygon(100% 1%, 100% 100%, 74% 100%, 54% 71%, 0% 71%, 0% 0%);
}

.box1 h2 {
    padding: 3% 2% 6% 0%;
    font-weight: 700;
    font-size: 1.9rem;
    font-style: italic;
}

label,
.col-form-label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
}

.form-check-label {
    font-size: 1rem;
}

textarea.form-control {
    width: 100%;
    height: 400px;
    max-height: 400px;
}


/*nav bar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
}

.header {
    background: #4267b28e;
    border-bottom: 2px solid#ccc;
}


/*  جزء الناف*/

.header .navbar {
    padding: 0;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    padding: 0;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bolder;
}

.navbar-brand h1 span {
    color: rgb(220, 235, 85);
}

.header .navbar .navbar-toggler .icon-bar {
    color: #fff !important;
}

.header .navbar #navbarcollapse .nav-item .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 10px 15px;
    line-height: 1.2;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown .dropdown-menu {
    border: 2px solid #4267b2;
    border-radius: 15px;
    overflow: hidden;
    translate: all 0.2s ease-in;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown .dropdown-menu .dropdown-item {
    color: #4267b2;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background: #4267b2;
    color: #fff;
}


/*footer*/

.footer-top {
    background: linear-gradient(66deg, #4267b263, rgba(0, 0, 0, 0.473), #4267b263);
    padding: 30px 0 5px;
    color: #fff;
}

.footer-top h3 {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}

.one p {
    font-size: 0.7rem;
    text-align: left;
    text-align: justify;
    font-weight: bold;
}

.two ul li {
    padding: 5px 0;
    line-height: 2;
}

.two ul li a {
    color: #fff !important;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}

.footer-text {
    text-align: center;
    color: #fff;
    line-height: 1;
}


/*اhome page*/


/*جزء المعلومات وزر البحث */

.mycontentdate {
    width: 100%;
    padding: 150px 0;
    background: linear-gradient(-20deg, #4267b2 30%, rgb(66, 197, 236) 40%, #4267b2 30%);
}

.mycontentdate .dashs {
    bottom: -35%;
}

.mycontentdate .dashs li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mycontentdate .img-box {
    width: 100%;
}

.mycontentdate .content h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
}

.mycontentdate .content p {
    color: #fff;
    font-size: 1.4rem;
    font-style: italic;
    padding-left: 2%;
    line-height: 1.6;
}

#btnSearch {
    width: 40%;
    background: #fff;
    color: #4267b2;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    line-height: 2;
    translate: all 0.5 ease;
}

#btnSearch:hover {
    background: #4267b2;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 6px 18px 17px -8px #ddd;
}


/* نهاية جزء المعلومات وزر البحث*/


/*جزء لماذا*/

.content-box {
    padding: 60px 0;
    height: 100%;
    width: 100%;
}

.content-box h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 50px;
    text-transform: capitalize;
}

.content-box h1::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 20%;
    margin: 20px auto;
}

.card {
    border: 2px solid #4267b2;
}

.icon-area {
    color: #4267b2;
    margin: 40px auto;
}

.single:hover .side-two {
    transform: rotateY(0deg);
    border-radius: 5px;
}

.single:hover .side-one {
    transform: rotateY(180deg);
    border-radius: 5px;
}

.content-area {
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side-one {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 20px;
}

.side-two {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotateY(-180deg);
}

.side-one,
.side-two {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.side-one .card,
.side-two .card {
    min-height: 350px;
}

.card h4 {
    color: #000;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.card p {
    color: #4267b2;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    padding: 10px 0;
}


/*نهاية جزء لماذا*/


/*جزء المميزات*/

.feature {
    width: 100%;
    background: linear-gradient(20deg, #4267b2 30%, rgb(66, 197, 236) 40%, #4267b2 30%);
}

.feature h2 {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

.feature ul li {
    color: #fff;
    line-height: 1.8;
    font-size: 1rem;
    position: relative;
}

.feature ul li::after {
    content: '';
    height: 5px;
    width: 5px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -5%;
}


/* نهاية جزء المميزات*/


/*جزء الاحصاءات*/

.statistics {
    background-image: linear-gradient( #4267b263, rgba(0, 0, 0, 0.473), #4267b263), url(../images/Rectangle@3x.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}

.content {
    padding: 20px 0;
}

.content .counter {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px auto;
    text-align: center;
}


/*نهاية جزء الاحصاءات*/


/* جزء العملاء*/

.testimonial {
    margin: 50px auto;
}

.testimonial h3 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.testimonial h3::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 20%;
    margin: 20px auto 5px;
}

.testimonial p {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial .profile {
    padding: 70px 1% 10px;
    transition: 0.7s;
    background: #4267b24f;
    cursor: pointer;
}

.testimonial .profile:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 5px #ccc;
}

.profile img {
    width: 120px;
    height: 120px;
    margin-top: -40%;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile blockquote {
    font-size: 1rem;
    line-height: 1.8;
}

.profile blockquote .fa {
    color: #4267b2;
}

.profile h4 {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: bold;
    color: #fff;
}


/*نهاية جزء العملاء */


/*=================جزء من نحن===================*/

.aboutus {
    background: linear-gradient(20deg, #4267b2 30%, rgb(18, 19, 19) 40%, #4267b2 30%);
}

.aboutus h2 {
    color: #fff;
    font-style: italic;
    font-size: 2.1rem;
    font-weight: bold;
}

.aboutus p {
    color: #fff;
    font-style: italic;
    font-size: 1.1rem;
    font-weight: normal;
}

.aboutus .pic {
    width: 100%;
    shape-outside: ellipse();
}

.aboutus .pic img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #fff;
    object-fit: contain;
}


/*=================نهاية جزء من نحن===================*/


/*=================جزء الفريق===================*/

.ourteam {
    width: 100%;
}

.ourteam h3 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.ourteam h3::after {
    content: '';
    background: #4267b2;
    display: block;
    height: 5px;
    width: 10%;
    margin: 20px auto;
}

.ourteam p {
    color: #4267b2;
    font-size: large;
    padding: 10px 0;
    font-weight: 400;
}

#our-team-shadow-img {
    position: relative;
    transition: 0.4s;
    box-shadow: 10px 20px 20px rgb(20, 19, 19);
}

.ourteam .single-content .text-content,
.ourteam .single-content::after {
    position: absolute;
    left: 20px;
    right: 20px;
}

.ourteam .single-content::after {
    content: '';
    display: block;
    background: rgba(255, 255, 255);
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: 0.4s;
}

.ourteam .single-content:hover::after {
    opacity: .8;
    transform: rotate3d(0, 0, 0, 0deg);
}

.ourteam .single-content img {
    width: 100%;
    height: 100%
}

.ourteam .single-content .text-content {
    top: 45%;
    opacity: 0;
    z-index: 1;
    transform: translate(10%, -30%);
    text-align: center;
    transition: 0.4s;
    color: #4267b2;
}

.ourteam .single-content .text-content h4 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-style: italic;
}

.ourteam .single-content .text-content h4 span {
    color: #000;
    text-transform: uppercase;
}

.ourteam .single-content .text-content h5 {
    padding-left: 5%;
    text-align: left;
    padding-bottom: 2%;
    text-transform: capitalize;
}

.ourteam .single-content .text-content h5 span {
    color: #000;
    text-transform: uppercase;
}

.ourteam .single-content .text-content p {
    color: #4267b2;
    font-style: italic;
    padding: 0 5%;
    line-height: 1.2;
}

.ourteam .single-content:hover .text-content {
    opacity: 1;
    transform: translate(0%, -50%);
    transition-delay: 0.4s;
}


/*===============نهاية جزء الفريق==========*/


/*=============== جزء تواصل معنا==========*/

.contactus {
    width: 75%;
}

.contactus .leftside {
    background: linear-gradient(90deg, rgba(57, 117, 224, 1) 19%, rgba(87, 124, 223, 1) 49%, rgba(95, 113, 223, 1) 74%);
    margin-left: -20%;
}

.contactus .card p {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    padding-left: 1%;
    line-height: 1;
}

.contactus .leftside h3 {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contactus .leftside .iconBox {
    height: 60px;
    width: 60px;
    border: 2px solid #fff;
    transform: rotate(-45deg);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus .leftside .iconBox i {
    color: #fff;
    transform: rotate(45deg);
}

.contactus .leftside .socialBox {
    margin: 10px auto;
}

.contactus .leftside .socialBox ul {
    width: 100%;
}

.contactus .leftside .socialBox ul li {
    display: inline-block;
    padding: 0 10px;
}

.contactus .leftside .socialBox ul li a {
    color: #fff !important;
}

.contactus label,
.contactus .col-form-label {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}

.contactus .form-check-label {
    font-size: 1rem;
}

.contactus textarea.form-control {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.contactus input[type=email],
.contactus input[type=text] {
    padding-left: 2%;
}

.contactus .form-control,
.contactus input[type=email],
.contactus input[type=text] {
    outline: none;
    width: 100%;
    border: 1px solid #4267b2;
    font-size: 1.2rem;
    line-height: 1.8;
    border-radius: 10px;
}

.contactus .form-control::placeholder,
.contactus input[type=email]::placeholder,
.contactus input[type=text]::placeholder {
    color: rgb(134, 132, 132);
}

.contactus .myBtn {
    width: 30%;
    background: #4267b2;
    color: #fff !important;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.5s;
    line-height: 2;
}

.contactus .myBtn:hover {
    background: #fff !important;
    color: #4267b2 !important;
    border: 2px solid #4267b2 !important;
}


/*===============نهاية جزء تواصل معنا==========*/

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #e7e7e7;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #e7e7e7;
}

.emp-profile {
    background: radial-gradient(circle, rgba(113, 131, 221, 1) 40%, rgba(37, 28, 82, 1) 91%);
}