{% extends 'shared/_base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} {{page_title}} {% endblock %}
{% block content%}

<h1>hello company<h2>
{{user}}
 {{profile.Name}}
   {{profile.phone_number}}
    <section class="projobseeker mx-auto py-5">
        <div class="container">
            <div class="row ">
                <div class="card mb-3 border-0 shadow ">
                    <div class="row">
                      <!-- جزء الصورة الشخصية -->
                      <div class="col-md-4 left">
                        <img src="images/Rectangle@3x.png" class="card-img bgimg" alt="...">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center text-white">
                            <img src="images/Mask@3x.png"  class= 'img-fluid proimg' width= '50%' alt=""> 
                            <a href="#" data-toggle="modal" data-target="#bgpic" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                             <!-- جزء تعديل الصورة الشخصية -->
                            <div class="modal fade" id="bgpic" tabindex="-1" role="dialog" aria-labelledby="bgpicLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close clearfix" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true" class= 'float-left'>&times;</span>
                                    </button>
                                  <div class="modal-body clearfix">
                                    <form>
                                      <div class="form-group">
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="photo">
                                          <label class="custom-file-label" for="photo">Upload Your photo</label>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="background">
                                          <label class="custom-file-label" for="background">Upload Your background</label>
                                        </div>
                                      </div>
                                    </form>
                                    <button type="button" class="btn myBtn my-3 text-uppercase float-right">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                             <!-- جزء تعديل الصورة الشخصية -->
                        </div>
                      </div>
                      <!--نهاية جزء الصورة الشخصية -->
                      <!-- جزء  معلومات  -->
                      <div class="col-md-8 right">
                        <div class="card-body">
                          <!--نهاية جزء  معلومات الشخصية -->
                            <div class="info-data">
                                <div class="title p-3">
                                    <h3>information</h3>
                                </div>
                                <ul class="list-unstyled">
                                    <li>name: <span>shimaa shaban hassan</span></li>
                                    <li>date of birth : <span>23/ 01/ 1987</span></li>
                                    <li>gender :  <span> female</span></li>
                                    <li>nationality : <span>egypation</span></li>
                                    <li>address : <span> 10b msaken El-naser lelasmeda company</span>  <span class= 'city'>city</span> - <span class= 'country'>country</span></li>
                                    <li>zip code : <span>43719</span></li>
                                </ul>
                            </div>
                             <!--نهاية جزء  معلومات الشخصية -->
                             <!-- جزء  معلومات الاتصال -->
                            <div class="contactmy">
                                <div class="title p-3">
                                    <h3>contact my</h3>
                                </div>
                                <div class= 'links clearfix'>
                                    <a href="#" class="float-right" data-toggle="modal" data-target="#contact"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> update</a>
                                </div>
                                 <!-- جزء تعديل معلومات الاتصال  -->
                                <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close clearfix" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true" class= 'float-left'>&times;</span>
                                        </button>
                                      <div class="modal-body clearfix">
                                        <form class="needs-validation" novalidate>
                                          <div class="form-group">
                                            <label for="email">email</label>
                                            <input type="email" class="form-control" placeholder="email" id= 'email'>
                                        </div>
                                          <div class="form-group">
                                            <label for="phoneNum">phone number</label>
                                            <input type="tel" class="form-control" placeholder="phone number" id= 'phoneNum'>
                                        </div>
                                        <div class="form-group">
                                          <label for="mobileNum">mobile number</label>
                                          <input type="tel" class="form-control" id='mobileNum'>
                                      </div>
                                        </form>
                                        <button type="button" class="btn myBtn my-3 text-uppercase float-right">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <!-- نهاية جزء تعديل معلومات الاتصال -->
                                 <ul class="list-unstyled">
                                    <li>email: <span>bwmn900@gmail.com</span></li>
                                    <li><i class="fa fa-mobile" aria-hidden="true"></i> mobile number : <span>0123456789</span></li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>phone number  : <span>0123456789</span></li>
                                </ul>
                            </div>
                            <!--نهاية جزء  معلومات الاتصال -->
                            <!--جزء من انا-->
                            <div class="aboutmy">
                                <div class="title p-3">
                                    <h3>about my</h3>   
                                </div>
                                <div class= 'links clearfix'>
                                    <a href="#" class="float-right" data-toggle="modal" data-target="#aboutmy"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> update</a>
                                </div>
                                 <!-- جزء تعديل  من انا  -->
                                <div class="modal fade" id="aboutmy" tabindex="-1" role="dialog" aria-labelledby="aboutmyLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close clearfix" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true" class="float-left">&times;</span>
                                        </button>
                                      <div class="modal-body clearfix">
                                        <form class="needs-validation" novalidate>
                                          <div class="form-group">
                                            <label for="aboutmy">about my</label>
                                            <textarea class="form-control" id="aboutmy" placeholder= 'Write about your self '></textarea>
                                          </div>
                                        </form>
                                        <button type="button" class="btn myBtn my-3 text-uppercase float-right">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--نهاية جزء تعديل  من انا  -->
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis tempora laudantium eius itaque corporis voluptate earum, blanditiis delectus culpa, libero sint harum, repudiandae corrupti. Suscipit culpa sunt quisquam optio vitae?</p>
                            </div>
                            <!--نهاية جزء من انا -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
{% endblock %}